extends ../layout

block content

  ul
    for box in boxes
      - status = (box.occupied) ? 'Ocupado' : 'Livre'
      li Box #{box.id} (Drone: #{box.droneId}) - Status: #{status}
      //
        {
          id: 0,
          droneId: 1,
          droneAddress:
          '127.0.0.1',
          _id: 54b9a25549749d667779eb7c,
          __v: 0,
          updated: Fri Jan 16 2015 21:44:21 GMT-0200 (BRST),
          created: Fri Jan 16 2015 21:44:21 GMT-0200 (BRST),
          occupied: false
        }
