body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vagas-setores {
  float: right;
  height: 40px;
  width: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  /*margin: 12px 24px;*/
}

.vagas-setores.empty { background-color: #009900; }
.vagas-setores.half { background-color: #ec971f; }
.vagas-setores.full { background-color: #c9302c; }

.table .actions {
  width: 120px;
  text-align: center;
}

.table .right {
  text-align: right;
}

.table .center {
  text-align: center;
}
