extends ../layout

block content

  h1 Contato

  p
    | Até que estejamos com domínio hospedado, a melhor forma de se entrar em contato é pelos&nbsp;
    a(href="https://github.com/LazyParking/lazyparking-server/issues", target="_blank") issues
    |  do GitHub.
