extends layout

block content

  h1= title

  p
    | Seja bem-vindo ao #{title}. Com esse pequeno experimento, queremos demonstrar que é
    | possível <strong>ter controle</strong> de seu estacionamento.

  p
    | Nosso trabalho de pesquisa surgiu da necessidade de se localizar vagas disponíveis
    | nos setores próximos as salas de aula da&nbsp;
    a(href="http://www.feevale.br", target="_blank") Universidade Feevale.

  p
    | ...depois a gente vê o que mais colocar aqui...
