extends layout

block content

  div.jumbotron
    h1= title
    span
      | Seja bem-vindo ao #{title}. Com esse pequeno experimento, queremos demonstrar que é
      | possível <strong>ter controle</strong> de seu estacionamento.

  | Foo
  div.badge.progress-bar-success 4

  p

  .row
    .col-xs-6.col-sm-3.placeholder
      div.vagas-setores.img-circle 999
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      div.vagas-setores.img-circle 888
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      div.vagas-setores.img-circle 777
      h4 Label
      span.text-muted Something else
    .col-xs-6.col-sm-3.placeholder
      div.vagas-setores.img-circle 667
      h4 Label
      span.text-muted Something else