extends layout

block content

  div.jumbotron
    h1= title
    span
      | Seja bem-vindo ao #{title}. Com esse pequeno experimento, queremos demonstrar que é
      | possível <strong>ter controle</strong> de seu estacionamento.


  .row
    .col-xs-3.col-sm-3.placeholder
      div.vagas-setores.img-circle 999
      h4 Label
      span.text-muted Something else
    .col-xs-3.col-sm-3.placeholder
      div.vagas-setores.img-circle.progress-bar-warning 888
      h4 Label
      span.text-muted Something else
    .col-xs-3.col-sm-3.placeholder
      div.vagas-setores.img-circle.progress-bar-info 777
      h4 Label
      span.text-muted Something else
    .col-xs-3.col-sm-3.placeholder
      div.vagas-setores.img-circle.progress-bar-danger 667
      h4 Label
      span.text-muted Something else