doctype html
html(lang='pt_BR')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')

  body
    // Fixed navbar
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') #{title}
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/boxes') Vagas
            li
              a(href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Mais...
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') An Action
                li
                  a(href='/') Another action
                li
                  a(href='#') Something else here
                li.divider
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='/sobre') Sobre

        // /.nav-collapse

    .container
      block content

    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
    if env == 'development'
      script(src="http://localhost:35729/livereload.js?snipver=1")